      @import url("https://use.typekit.net/ymt8xmp.css");

      * {
        font-family: 'futura-pt';
      }

      body {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 800px;
      }

      canvas,
      img {
        border: 2px solid black;
      }

      input {
        width: 100%;
      }

      input:invalid {
        border: 3px solid red;
        background-color: rgba(255, 142, 142, 0.333);
      }

      label {
        display: block;
        margin-top: 10px;
      }

      label,
      input {
        font-size: 1.2em;
      }

      p {
        margin-bottom: 5px;
      }

      #email-domain {
        padding-right: 30%;
      }

      #input-form {
        margin-bottom: 20px;
      }

      #downloadBtn {
        display: block;
        margin-top: 10px;
        text-decoration: none;
      }

      #btnTgt {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 300px;
        height: 50px;
        border-radius: 0;
        font-size: 1.2em;
        font-weight: 600;

      }

      #warning {
        color: red;
        font-weight: 600;
      }