      @import url("https://use.typekit.net/ymt8xmp.css");

      * {
        font-family: 'futura-pt';
      }

      body {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 800px;
      }

      canvas,
      img {
        border: 2px solid black;
      }

      input {
        width: 100%;
      }

      input:invalid {
        border: 2px solid red;
      }

      label {
        display: block;
        margin-top: 10px;
      }

      label,
      input {
        font-size: 1.2em;
      }

      p {
        margin-bottom: 5px;
      }

      .form-inline {
        display: inline-block;
      }

      #email-domain {
        padding-right: 30%;
      }

      #input-form {
        margin-bottom: 20px;
      }

      #downloadBtn {
        display: inline-block;
        margin-top: 10px;
      }

      #downloadBtn>button {
        width: 200px;
        height: 50px;
        font-size: 1em;
      }

      #warning {
        color: red;
        font-weight: 600;
      }